// $topbar_bgcolor: #e2625c;
// $topbar_textcolor: #FFFFFF;
// $heading_color: #e89b6a;
// $newsletter_color: #e4fdc3;
// $main_font: Arial, sans-serif;
// $button_color: #e2625c;

$lime: #e4fdc3;
$mint: #8ae2c8;
$orange: #e89b6a;
$melon: #e2625c;
$white: #FFFFFF;
$main_font: Arial, sans-serif;


