$primary: #071F4A;
$secondary: #E6EEFD;
$dark: #0A0E33;

@import '../bootstrap-5.3.3/scss/bootstrap';
// @import "../bootstrap-5.3.3/scss/utilities";

body {
  background-color: white;
}

.navbar, .footer {
  background-color: $primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

.customer-reviews, .contact-form {
  background-color: $secondary;
}

.carousel-item img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: top;
}

.accordion-button {
  background-color: $secondary;
}

.accordion-button:not(.collapsed) {
  background-color: $secondary;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

